CompileFlags:
  Remove:
    - -rdc=true
    - -forward-unknown-to-host-compiler
    - -x
    - cu
    - -arch=native
    - --options-file
  Add:
    - -x
    - cuda
    - --cuda-path=/opt/cuda
    - -Iinclude
